body {
  font-size: .85rem;
  width: 640px;
}

body > div.card {
  border: unset;
  border-radius: unset;
}

.hidden {
  display: none;
}

hr {
  margin: 15px 0;
}

.panel {
  box-shadow: inherit;
  margin-bottom: 0px;
}

#csp-col {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;

  /* copy pre formatting */
  background-color: #f5f5f5;
  border: solid 1px #cccccc;
  border-radius: 4px;
  padding: 9.5px;
}

#csp-col.alert-danger {
  background-color: #eed3d7;
  border-color: #b94a48;
}

#csp-row-unsafe-inline-warning {
  font-weight: 600;
  margin-bottom: -10px;
  margin-top: 15px;
  padding-left: 5px;
}

#csp-row-unsafe-inline-warning img.octicon {
  margin-right: 4px;
  margin-top: -1.5em;
}

#csp-row-unsafe-inline-warning div {
  display: inline-block;
}

#csp-row-unsafe-inline-warning-indent {
  padding-left: 34px;
}

.csp-col-header {
  margin-bottom: 10px;
}

#csp-config {
  margin-bottom: 10px;
}

.csp-config-label {
  font-family: monospace;
  font-weight: bold;
  line-height: 1.6rem;  /* what am I dooooooooing?! */
  white-space: nowrap;
}

.csp-config-row {
  padding-bottom: 4px;
  padding-top: 4px;
}

select.csp-form-control {
  height: inherit;
  padding: 4px 12px;
}

#csp-recording-count-row {
  margin-top: 10px;
}

label.disabled {
  color: rgb(153,153,153);
}

div.success {
  background-color: #ebf5e1 !important;
  border-color: #59822c !important;
  color: #59822c;
}

/* bootstrap overrides */
.container {
  max-width: unset;
  padding-right: unset;
}

.form-control {
  font-size: .85rem;
  line-height: 1;
}
.form-check-input {
  margin-top: .25rem;
}

.tooltip-inner {
  background-color: white;
  border: solid 1px black;
  color: black;
  max-height: 45vh;
  max-width: 620px;
  overflow: hidden;
  text-align: left;
  word-break: break-all;
}

.tooltip.show {
  opacity: 1;
}

/* from octicons, with tweaks */
.octicon {
  display: inline-block;
  height: 1.1rem;
  margin-top: .05rem;
  vertical-align: text-top;
}

.inverted {
  filter: invert(100%);
}