{
    "env":{
        "browser":true,
        "jquery": true
    },
    "extends":"airbnb",
    "globals":{
        "browser": true,
        "Clipboard": true,
        "localforage": true,
        "Lab": true
    },
    "rules":{
        "no-param-reassign": 0
    }
}
