{
    "env":{
        "browser":true
    },
    "extends":"airbnb",
    "globals":{
        "browser": true,
        "localforage"; true,
        "Laboratory": true
    },
    "rules":{
        "no-param-reassign": 0
    }
}
