body {
  width: 640px;
}

hr {
  margin: 15px 0;
}

.panel {
  box-shadow: inherit;
  margin-bottom: 0px;
}

#csp-col {
  overflow: scroll;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;

  /* copy pre formatting */
  background-color: #f5f5f5;
  border: solid 1px #cccccc;
  border-radius: 4px;
  padding: 9.5px;
}

#csp-col-header {
  margin-bottom: 10px;
}

#csp-config {
  margin-bottom: 10px;
}

.csp-config-label {
  font-family: monospace;
  font-weight: bold;
  margin-top: 4px;
  white-space: nowrap;
}

.csp-config-row {
  padding-bottom: 4px;
  padding-top: 4px;
}

select.csp-form-control {
  height: inherit;
  padding: 4px 12px;
}